---
import Banner from '../../components/Banner.astro';
import CardContainer from '../../components/CardContainer.astro';
import Card4Col from '../../components/Card4Col.astro';
import SiteLayout from '../../layouts/SiteLayout.astro';
import ToDoListAstro from '../../components/ToDoListAstro.astro';
import UserCard from '../../components/UserCard.svelte';
---

<SiteLayout title="Astro, Swelte, Bootstrap Demo">
	<Banner imageURL="/images/banner.jpg" />
	<div class="container pt-3">
		<h1>Svelte - User Cards</h1>
	</div>
	<CardContainer>
		<UserCard client:load county="Carlow"/>
		<UserCard client:load county="Dublin"/>
		<UserCard client:load county="Kildare"/>
		<UserCard client:load county="Kilkenny"/>
		<UserCard client:load county="Laois"/>
		<UserCard client:load county="Longford"/>
		<UserCard client:load county="Louth"/>
		<UserCard client:load county="Meath"/>
		<UserCard client:load county="Offaly"/>
		<UserCard client:load county="Westmeath"/>
		<UserCard client:load county="Wexford"/>
		<UserCard client:load county="Wicklow"/>
	</CardContainer>
</SiteLayout>

<style></style>
