---
import Banner from '../../components/Banner.astro';
import CardContainer from '../../components/CardContainer.astro';
import Card4Col from '../../components/Card4Col.astro';
import SiteLayout from '../../layouts/SiteLayout.astro';
import ToDoListAstro from '../../components/ToDoListAstro.astro';
import UserCard from '../../components/UserCard.svelte';
---

<SiteLayout title="Astro, Swelte, Bootstrap Demo">
    <Banner imageURL="/images/banner.jpg" />
	<section class="section section--component-19  rectangle  rectangle--small rectangle--green-top-left rectangle--blend-off section--order-lg-inverted"><span></span>
        <div class="component-19">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Privacy Statement</h1> 
                        <h3>Introduction</h3> 
                        <div>
                          We have published this Privacy Statement to demonstrate our firm commitment to the privacy of users of our Website. It applies to the use of your personal information (also known as ‘personal data’) by us through the viewing or use of our main website or any website within our domain which has pointed you to this page. The information published here is limited to the use of personal information by our websites hosted under our domain only. We do not accept responsibility for the content or privacy practices of other external websites.External links to other websites are not always clearly identifiable as such. Within our domain you may find websites over which we does not maintain editorial responsibility or direct control. Such sites can include the websites of student organisations etc. While we encourage compliance with this web privacy statement at such sites, please consult the privacy statements of individual sites or contact the persons responsible for those sites, in order to understand the policies and practices under which they operate. 
                        </div> 
                        <div> 
                         <strong>General statement</strong> 
                        </div> 
                        <div>
                          We fully respect your right to privacy and actively seeks to preserve the privacy rights of those who share information with us. Any personal information you provide to the us will be treated with the highest standards of security and confidentiality, in accordance with the General Data Protection Regulation (GDPR) as introduced in May 2018. 
                        </div> 
                        <div> 
                         <strong>Processing of personal information</strong> 
                        </div> 
                        <div>
                          We do not collect any personal data about you on this website apart from information you volunteer, for example by emailing us. Any information you provide is not made available to any third parties, other than those working with us on normal business and is used by us only in accordance with the purpose for which you provided the information and will only be retained for as long as required for the purpose. 
                        </div> 
                        <div>
                          We will not process any personal information about you on this website without your permission.
                        </div> 
                        <div>
                          This is normally stated on the web-page where the information is requested and should be self-explanatory. However, if you have any specific queries about the purpose for which your information is to be used, you should contact our Information Compliance Manager before submitting the information.
                        </div> 
                        <div> 
                         <strong>Processing of technical information</strong> 
                        </div> 
                        
                        <div>
                          Technical details in connection with visits to this website may be logged on our server for accounting and auditing purposes (e.g. Computer IP number). It is the policy of us not to disclose such technical information in respect of individual website visitors to any third party unless obliged to disclose such information by a rule of law. The technical information will be used only for statistical and other administrative purposes. You should note that technical details, which we cannot associate with any identifiable individual, do not constitute "personal data" for the purposes of the Data Protection Acts 1988 and 2003 and General Data Protection Regulation (GDPR) 2018. 
                        </div> 
                        <div> 
                         <strong>Access and Rectification</strong> 
                        </div> 
                        <div>
                          If you become aware of any inaccuracy in the personal data you have supplied to us, please let us know and we will update our records accordingly. Under General Data Protection Regulation (GDPR) you have a right to have incorrect or incomplete data corrected or erased by us. You can do this by contacting us at any of the contact points listed below. 
                        </div> 
                        <div>
                          Pursuant to General Data Protection Regulation (GDPR) you have certain rights to obtain a copy of the data held by you. For assistance in exercising these rights, please refer to our data protection webpages as set out below. 
                        </div> 
                        <div> 
                         <strong>Security</strong> 
                        </div> 
                        <div>
                          We take appropriate physical and technical security measures, including staff awareness training to maintain the security of personal data supplied to us and we review these measures regularly. 
                        </div> 
                        <div> 
                          <strong>Review</strong> 
                        </div> 
                        <div>
                          This Privacy Statement explains the privacy policy that we have adopted for our websites. However, in legal terms it shall not be construed as a contractual undertaking. We reserve the right to review and amend this Statement at any time without notice and you should check this page regularly to view the most up to date Privacy Statement. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
</SiteLayout>

<style></style>
