---
// Access passed-in component props, like `<X title="Hello, World" />`
const { imageURL } = Astro.props;

---
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="front-end-project/images/banner.jpg" class="d-block w-100" alt="...">
      <!-- <img src="https://stephenc808.github.io/front-end-project/images/banner.jpg" class="d-block w-100" alt="..."> -->
      <div class="carousel-caption d-none d-md-block">
        <div class="component-15__content"> 
          <div class="container"> 
           <h1 class="heading-xxxl">Ireland Weather API</h1> 
           <a href="/front-end-project/Ulster" class="btn btn-primary">Ulster</a>
           <a href="/front-end-project/Munster" class="btn btn-primary">Munster</a>
           <a href="/front-end-project/Leinster" class="btn btn-primary">Leinster</a>
           <a href="/front-end-project/Connacht" class="btn btn-primary">Connacht</a>
          </div> 
         </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/front-end-project/images/graph.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="component-15__content"> 
          <div class="container"> 
           <h1 class="heading-xxxl">Historic Data</h1> 
           <a href="/front-end-project/historic-data" class="btn btn-primary">View</a>
          </div> 
         </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/front-end-project/images/map.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="component-15__content"> 
          <div class="container"> 
           <h1 class="heading-xxxl">Search Weather</h1> 
           <a href="/front-end-project/search-weather" class="btn btn-primary">View</a>
          </div> 
         </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<style lang="scss">
.banner--image {
    width: 100%;
}
</style>