---
// Access passed-in component props, like `<X title="Hello, World" />`
const { title } = Astro.props;
---
<!-- Your template here! -->
<header class="main-header">
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark p-2" style="background-color: #14f014;>
    <div class="container-fluid">
      <!--<a class="navbar-brand" href="/">Astro, Booststrap Demo</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ireland Weather API
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/Ulster">Ulster</a></li>
              <li><a class="dropdown-item" href="/Munster">Munster</a></li>
              <li><a class="dropdown-item" href="/Leinster">Leinster</a></li>
              <li><a class="dropdown-item" href="/Connacht">Connacht</a></li>
            </ul>
          </li>  
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/factorial-slider">Historical Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user-card-svelte">Search Weather</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<style>
  .navbar-brand {
    font-size: 2rem;
    padding-left: 10px;
  }
</style>