---
import Banner from '../../components/Banner.astro';
import CardContainer from '../../components/CardContainer.astro';
import Card4Col from '../../components/Card4Col.astro';
import SiteLayout from '../../layouts/SiteLayout.astro';
import ToDoListAstro from '../../components/ToDoListAstro.astro';
import UserCard from '../../components/UserCard.svelte';
---

<SiteLayout title="Astro, Swelte, Bootstrap Demo">
    <Banner imageURL="/images/banner.jpg" />
	<section class="section section--component-19  rectangle  rectangle--small rectangle--green-top-left rectangle--blend-off section--order-lg-inverted"><span></span>
        <div class="component-19">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Our Cookie Policy</h1> 
                            <p><strong>Introduction</strong></p> 
                            <p>We respect the privacy of all visitors to our website. This Cookie Policy outlines our policy concerning the use of cookies</p> 
                            <p>From time to time we will update our Cookie Policy to reflect any changes in technology or legislation which affect the way in which cookies are used by us and how you as a user, can manage them.</p> 
                            <p><strong>What Are Cookies?</strong></p> 
                            <p>Cookies are small text files stored on your computer. We use cookies to make our site faster and easier to use. Cookies cannot run programs or deliver viruses to your computer.</p> 
                            <p><strong>How We Use Cookies</strong></p> 
                            <p>We use cookies to improve your experience on our site. The broader set of functions is:</p> 
                            <ul> 
                                <li>Cookies are used only by our related systems.</li> 
                                <li>Certain cookies are essential to the proper functioning of our systems and therefore don’t require your consent.</li> 
                                <li>We don't track your personal activities when you're not on our internal system.</li> 
                                <li>We use analytics cookies to help us understand what content is most useful to our visitors. We use a global provider for this analysis which means a limited amount of personal data will be transferred internationally, where privacy rights are not necessarily at the same level as in the EEA.</li> 
                                <li>Web visitors that accept all cookies or targeting cookies and visit some of our sub sites that are involved in marketing and recruitment, by doing so, permit the placement of third-party cookies. We engages with trusted third-party marketing companies to assist with the running of marketing campaigns.</li> 
                            </ul> 
                            <p><strong>Types of Cookies We Use</strong></p> 
                            <ul> 
                                <li><strong>Strictly Necessary Cookies</strong><br>These cookies are essential for enabling user movement around our website and providing access to features and systems we offer. They also secure areas of our website. This category of cookies cannot be disabled as they are essential to the functioning of the system. Essential cookies do not require seeking user consent/permission.</li> 
                                <li><strong>Performance Cookies</strong><br>We use cookies for analytics to collect information about how visitors use our website. These cookies give us insight into how our website is being used and will involve international data transfers outside the EEA.</li> 
                                <li><strong>Functional Cookies</strong><br>Functional cookies allow the website to remember choices and customisation you made. For instance, these cookies can be used to remember changes you have made to text size, fonts and other parts of web pages that you can customise. They may also be used to provide features you have selected like watching a video or commenting on a blog.</li> 
                                <li><strong>Targeting Cookies</strong><br><em>Customised Information &amp; Advertising Cookies:</em> UCD does not place ads anywhere on our sites. However, some pages under our domain use cookies that are based on your interests expressed or that measure the results of our digital campaigns.<br><em>Social Plug-In Cookies:</em> When you interact with social media content, you trigger the placement of relevant cookies from these platforms. These cookies are set by third parties, including Facebook and Twitter, and allow you to share what you’ve been doing on our websites on social media. Such cookies will trigger international data transfers of your data outside the EEA.</li> 
                                <li><strong>Unclassified Cookies</strong></li> 
                            </ul>  
                            <p><strong>Your Choices Regarding Cookies</strong></p> 
                            
                            <p><strong>How We Scan and Categorise Cookies</strong></p> 
                            <p>We use CookiePro by OneTrust to scan our site for cookies and to give you the ability to manage your cookie preferences. By disallowing targeting cookies, you also deselect social media plug-ins. This will potentially result in YouTube and other social media content not being displayed and potentially result in blank space when you view the webpage.</p> 
                            <p>Additionally, if you have already set your web browser settings to the highest level of privacy on your device directly, this will override any choices you make in our privacy preference centre.</p> 
                            <p>We scan registered sub-domains monthly up to the maximum limit of 10,000 pages as imposed by CookiePro. Scripts/cookies outside of the scan may not be blocked by CookiePro. Scripts/cookies added to a website between scans may not be blocked until categorised following the subsequent scan.</p> 

</SiteLayout>

<style></style>
